/**
* ! Style rules for section-1
**/
.section-1-left--text {
font-size: var(--body);
  font-family: var(--font-2);
  color: var(--color-white-75);
}
.section-1-left--btn {
    align-self: self-start;
}

.section-2__logo{
  display: grid;
  grid-template-columns: repeat(5, 1fr);

}
.section-2__logo img{
  justify-self: center;
  align-self: center;
}

.section-2__btn{
  justify-self: center;
}